1.4.1/out/production/algDatUke1/uke3/Oppg1_3_8.class
/out/production/algDatUke1/uke4/Oppg1_4_1.class
/out/production/algDatUke1/eksempelklasser/Heltall.class
/out/production/algDatUke1/eksempelklasser/Maaned.class
/out/production/algDatUke1/uke3/Oppg1_3_8.class
/out/production/algDatUke1/uke4/Oppg1_4_2.class
/out/production/algDatUke1/uke4/Oppg1_4_3.class
/out/production/algDatUke1/eksempelklasser/Oppg1_4_4_1testingAvEksemeplklassene.class
/out/production/algDatUke1/eksempelklasser/Oppg1_4_4_2_testing.class
/out/production/algDatUke1/eksempelklasser/Person.class
/out/production/algDatUke1/eksempelklasser/Student.class
/out/production/algDatUke1/eksempelklasser/Studium.class
